
.swal2-cancel{
    background-color: $plomo-oscuro !important;
    font-size: 15px !important;
}


.swal2-confirm
{    background-color: $azul-oscuro !important;
    font-size: 15px !important}

.swal2-icon
  {  font-size: 10px !important}

.swal2-popup
{    width: 25em !important}

.swal2-title
{    font-size: 20px !important}

.swal2-html-container
{    font-size: 15px !important}


