$verde-oscuro: #6d9720;
$verde-claro: #e3e6e1;
$azul-claro: LightSkyBlue;
$azul-oscuro: #244b9a;
$plomo-claro: #868787;
$plomo-oscuro: #404040;

$colorCreditos1: #337BA3;
$colorCreditos2: #53c3ff;

$tamañoLetraEncabezados: 10px;
$tamañoLetraInput: 13px;
$tamañoLetraLabels: 12px;
$tamañoLetraTable: 11px;
$tamañoLetraButton: 11px;
